html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#data-box {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255, 255, 255);
  border: rgb(229, 229, 229) 1px solid;
  top: 2%;
  left: 2%;
  width: 660px;
  height: auto;
}

#github {
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 100%;
}

#org{
  position: absolute;
  z-index: 5;
  /* Careful not to obscure Google logo. */
  bottom: 26px;
  left: 10px;
  height: auto;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

@media screen and (max-height: 250px) {
  #org {
    visibility: hidden;
  }
}

#org, img {
  width: 66px;
}

#county-name, #state-name {
  font-weight: bold;
  text-align: justify;
  margin-bottom: 2%;
  /* Will scale smoothly from 13 - 20 px */
  font-size: 2vw;
}

@media screen and (max-width: 650px) {
  #county-name, #state-name {
    font-size: 13px;
  }
}

@media screen and (min-width: 1000px) {
  #county-name, #state-name {
    font-size: 20px;
  }
}

#state-data {
  float: left;
  width: 40%;
  margin-bottom: 3%;
}

#county-data {
  float: left;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.inactive-policy {
  /* red */
  color: #F27474;
}

.partial-policy {
  /* yellow */
  color: #F2A35E;
}

.active-policy {
  /* green */
  color: #B2D9A0;
}

.unknown-policy {
  /* grey */
  color: #808080;
}

.policy-line {
  float: left;
  width: 100%;
  display: inline-flex;
  vertical-align: bottom;
}

.cases {
  position: absolute;
  bottom: 0;
}

/* Tooltip text */
.cases .cases-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.cases .cases-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.cases:hover .cases-tooltip {
  visibility: visible;
  opacity: 1;
}
